<%- include("./header.html")%>
<div class="container mt-3">
    <div class="row">
        <div class="col-2">
            <%- include("./sidemenu.html")%>
        </div>
        <div class="10">
            <h3>用户修改</h3>

            <div class="card">
                <div class="card-body">
                    <form action="/admin/users/<%=data._id%>/edit" method="POST" enctype="multipart/form-data">
                        <div class="form-inline" >
                            <%if(data.headpic){%>
                            <img src="/uploads/course/<%=data.headpic%>" height="60">
                            <%}else{%>
                            <img src="/uploads/course/1.jpg" height="60">
                            <%}%>
                        </div>
                        <div class="form-inline mt-2">
                            <label for="username">用户名:</label>
                            <input class="form-control disabled" type="text" id="username" name="username" value="<%=data.username%>">
                        </div>
                        <div class="form-inline  mt-2">
                            <label for="email">邮箱:</label>
                            <input class="form-control" type="email" id="email" name="email"  value="<%=data.email%>">
                        </div>
                        <div class="form-inline  mt-2">
                            <label for="headpic">头像:</label>
                            <input class="form-control" type="file" id="headpic" name="headpic" >
                        </div>
                        <div class="form-inline  mt-2">
                            <label for="userpwd">密码:</label>
                            <input class="form-control" type="password" id="userpwd" name="userpwd">
                        </div>
                        <div class="form-inline  mt-2">
                            <label for="repassword">确认密码:</label>
                            <input class="form-control" type="password" id="repassword" name="reuserpwd">
                        </div>
                        <div class="form-inline  mt-2">
                            <input class="form-control" type="submit" value="修改">
                            <a class="btn btn-outline-success" href="/">我不想修改了</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./footer.html")%>
