
<!--列表栏菜单管理-->
<ul class="list-group">
    <li class="list-group-item">
        <a href="/admin">首页</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/categorylist">分类管理</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/addcategory">分类添加</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/courses">列表管理</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/addcourse">列表添加</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/users">用户管理</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/adduser">用户添加</a>
    </li>
</ul>
