<%- include("../layout/header.html")%>


<div class="container mt-3">
    <div class="card mx-auto" style="width: 480px;">
        <div class="card-header">
            <h3>用户登录</h3>
        </div>
        <div class="card-body">
            <form action="/users/login" method="post">
                <div class="form-inline">
                    <label for="username">用户名:</label>
                    <input class="form-control" type="text" name="username" id="username">
                </div>
                <div class="form-inline mt-2">
                    <label for="usepwd">密  码:</label>
                    <input class="form-control" type="password" name="userpwd" id="usepwd">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input class="btn btn-success mt-2" type="submit" value="登录">
                </div>
            </form>
        </div>
    </div>
</div>










<%- include("../layout/footer.html")%>